<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dimentional Charting From JSON</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.9/dc.min.css" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            #percent_women_prof, #percent_men_prof{
                font-size: 3em;
            }
            .container{
                margin: 20px;
            }
        </style>
    </head>
    <body>
        <h1>Dashboard:</h1>
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h3>Percent Women Prof</h3>
                    <div id="percent_women_prof"></div>
                </div>
                <div class="col-xs-6">
                    <h3>Percent Men Prof</h3>
                    <div id="percent_men_prof"></div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-xs-5 col-xs-offset-3">
                    <h3>Select Discipline: </h3>
                    <div id="select_descipline"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <h3>Gender Balance</h3>
                    <div id="sex_sal_chart_here"></div>
                </div>    
                <div class="col-xs-6">
                    <h3>Gender Average</h3>
                    <div id="sex_average_chart_here"></div>
                </div>
            </div>
            <div>
                <h3>Salary To Years Of Service</h3>
                <div id="show_salary_to_service"></div>
            </div>
            <div>
                <h3>Years Since PHD To Years Of Service</h3>
                <div id="show_phd_to_service"></div>
            </div>
            <div>
                <h3>Rank Distribution</h3>
                <div id="show_rank_distribution"></div>
            </div>
        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.9/dc.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../static/js/graph.js"></script>
    </body>
</head>